*{
  font-family: 'Roboto', sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 10px;
}
header {
  grid-column: 1 / span 3;
  text-align: center;
  border-bottom: 2px solid gray;
}
nav {
  grid-column: 1;
  padding-left: 30px;
  border-right: 2px solid gray;
}
nav li {
  text-decoration: underline;
  list-style: none;
}
article{
  grid-column: 2;
  padding: 30px;
}
article h2 {
  font-size: 56px;
  max-width: 800px
}
article img {
  width: 100%;
  border-radius: 20px;
}
article p {
  margin-top: 30px;
  line-height: 2em;
}
aside {
  grid-column: 3;
  grid-row: 2;
  padding: 30px; 
  border-left: 2px solid gray;
}
aside li {
  list-style: none;
}
footer {
  grid-column: 1 / span 3;
  grid-row: 3;
  text-align: center;
  border-top: 2px solid gray;
  padding: 30px;
}